# Base rom
*.z64
*.n64
*.ndd
*.bin

# Extract/build directories
asm
bin
build
expected

# Cache
__pycache__
.cache

# Context file from m2ctx.py
ctx.c

# Virtual Env for newer python versions
.venv

# Permuter artifacts
nonmatchings

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.splat_cache
dino.ld
.splat_cache
undefined_syms_auto.txt
undefined_funcs_auto.txt

# Editor
.vscode/
*~
.\#*
.idea
compile_commands.json

# Ghidra
*.rep/
*.gpr
*.lock*

# Ninja
build.ninja
.ninja_log

# objdiff
objdiff.json

# Include some Windows binaries
!tools/elf2dll.exe
!tools/ido_recomp/windows/5.3/*
