[submodule "tools/asm_processor"]
	path = tools/asm_processor
	url = https://github.com/simonlindholm/asm-processor.git
	branch = main
[submodule "tools/asm_differ"]
	path = tools/asm_differ
	url = https://github.com/simonlindholm/asm-differ.git
	branch = main
[submodule "tools/decomp_permuter"]
	path = tools/decomp_permuter
	url = https://github.com/simonlindholm/decomp-permuter.git
