[submodule "sm64tools"]
	path = sm64tools
	url = https://github.com/queueRAM/sm64tools
[submodule "tools/splat"]
	path = tools/splat
	url = https://github.com/ethteck/splat
[submodule "tools/asm-processor"]
	path = tools/asm-processor
	url = https://github.com/simonlindholm/asm-processor.git
