ansiwrap
argcomplete
capstone
colorama
cxxfilt
GitPython
intervaltree
n64img>=0.1.2
ninja
pycparser>=2.21
pyelftools
pygfxd
pylibyaml
pypng
python-Levenshtein
python-ranges
PyYAML
rabbitizer
spimdisasm>=1.2.1
textwrap3
tqdm
toml
watchdog
