# dinosaur-planet
capstone
GitPython
ninja
pycparser>=2.21
pyelftools
pylibyaml
PyYAML

# asm-differ
argcomplete
colorama
watchdog
python-Levenshtein

# decomp_permuter
pycparser
toml

# splat
-r tools/splat/requirements.txt
